@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;

    /* primary colors */
    --primary1: hsl(300, 43%, 22%);
    --primary2: hsl(333, 80%, 67%);

    /* Neutral Colors */
    --neutral1: hsl(303, 10%, 53%);
    --neutral2: hsl(300, 24%, 96%);
    --neutral3: hsl(0, 0%, 100%);
}

body {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--neutral3);
    background-repeat: no-repeat;
}
/* Backgrounds */
#bgTopDesktop, #bgBottomDesktop {
    display: none;
}
#bgTopMobile{
    position: absolute;
    top: -10px;
    /* border: 1px solid black; */
    z-index: -1;
}
#bgBottomMobile{
    position: fixed;
    bottom: -150px;
    z-index: -1;
    /* border: 1px solid red; */
}

/* Container */
.container{    
    padding: 0 1rem;
    width: 375px;
    height: auto;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}
.headers > h1 {
    /* width: 70%; */
    display: block;
    margin: 5rem 2rem 1rem 3rem;
    text-align: center;
    color: var(--primary1);    
}
.headers > p{
    font-size: 15px;
    text-align: center;
    color: var(--primary1);
    font-size: 15px;
    font-weight: 400;
}

/* Ratings */
.checked {  /* star rating color */
    color: orange;
}
.ratings{
      margin: 2rem 0;
}
.review{
      background-color: var(--neutral2);
      margin: 5px;
      border-radius: 5px;
      padding: 7px;
      text-align: center;
      
}
.review p{
      color: var(--primary1);
      font-weight: 500;
      margin-top: 5px;
      margin-bottom: 10px;
      text-align: center;
      font-size: 15px;
}

  /* Testimonials */
.testimonials{
    display: inline-block;
}
.testimonials .buyer{
    background-color: var(--primary1);
    border-radius: 7px;
    padding: 1rem;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.testimonials .buyer img {
    border-radius: 50%;
    width: 20%;
}
.testimonials .buyer .buyerHeader{
    width: 10rem;
    margin-top: 1rem;
}
.buyerHeader h5{
    /* display: block; */
    color: var(--neutral2);
    margin-left: 1.6rem;
    font-size: 15px;
    font-weight: 500;
}
.buyerHeader p {
    /* display: block; */
    color: var(--primary2);
    font-size: 15px;
}
.testimonials .buyerBody {
    margin-top: 1rem;
}
.buyerBody p{
    color: var(--neutral2);
    text-align: left;
    font-weight: 400;
}

@media (min-width: 1440px){
    body{
        display: flex;
    }

    /* Backgrounds */
    #bgTopMobile, #bgBottomMobile {
        display: none;
    }
    #bgTopDesktop{
        display: block;
        position: fixed;
        top: 40px;
        left: 330px;
        z-index: -1;
    }
    #bgBottomDesktop{
        display: block;
        width: 100%;
        position: fixed;
        bottom: -20px;
        left: 300px;
        z-index: -1;
    }

    .container{
        width: 1440px;
        height: 800px;
        display: flex;
        flex-wrap: wrap;     
        padding: 0 10rem;    
        /* border: 1px solid orange;     */
    }
    .headers{
        width: 500px;
        align-self: flex-start;
        /* border: 1px solid red; */
    }
    .headers h1{
        text-align: left;
        width: 350px;
        margin: 0 0 1rem 0;        
    }

    .headers p{
        width: 450px;
        text-align: left;       
    }
    /* Ratings div */
    .ratings{
        width: 600px; 
        display: grid;
        padding: auto;
        margin: 0;
        /* border: 1px solid black;       */
    }
    .ratings .review {
        align-items: center;
        padding-left: 1.5rem;
        background-color: var(--neutral2);
    }
    .ratings .review .fa {
        margin-left: 10px;
    }
    .ratings .review p {
        margin: 0;
        font-weight: 700;
        margin-left: 2rem;
    }
    .ratings .review-1{
        width: 75%;
        display: flex;
        justify-self: start;
    }
    .ratings .review-2{
        width: 75%;
        display: flex;
        justify-self: center;
    }

    .ratings .review-3{
        width: 75%;
        display: flex;
        justify-self: end;
        
    }
/* Testimonials div */
    .testimonials{
        width: 1440px;
        height: 250px;
        display: grid;
        margin-top: 2rem;
        grid-template-columns: 1fr 1fr 1fr;
        /* border: 1px solid blue; */
    }

    .testimonials .buyer {
        width: 350px;
        height: 200px;
        /* margin: 2.5rem 0 0 0; */
    }

    .testimonials .buyer-1 {
        align-self: start;
    }
    .testimonials .buyer-2 {
        align-self: center;
        justify-self: center;
    }
    .testimonials .buyer-3 {
        justify-self: end;
        align-self: end;
    }

    .testimonials .buyer .buyerHeader p{
        margin-left: 1.6rem;
    }

    .testimonials .buyerBody p{
        margin: 1rem 0;
        font-size: 14.2px;
        font-weight: 400;
    }

    .attribution{
        margin-top: 2rem;
    }
}